.estudios-article{
    background-color: white;
    padding: 0 0 20px 0;
    margin: auto auto 20px auto;
    width: 90%;
    box-shadow: -3px 3px 6px 1px rgba(0,0,0,0.5);

}
.horizontal-line-pink{
    background-color: #E01171;
    height: .2rem;
    margin-bottom: 10px;
}
.article-p{
    margin-left: 20px;
}
@media only screen and (min-width: 700px) {
    
    .estudios-desktop {
        grid-column: 3/11;
    }
}